.btn{
    display: flex;
    align-items: center;
    color: #fff !important;
    border-radius: 0.5rem !important; 
    border: 2px solid var(--color-primary) !important ;
    background: var(--color-primary) !important;
}