.header__container {
    max-width: 100vw;
    height: 4.3125rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0rem 0.25rem 2rem -0.75rem rgba(0, 0, 0, 0.25);
    background-color: var(--grey-1);

    img {
        width: 7.0625rem;
        height: 1.125rem;
        flex-shrink: 0;
        margin-left: 1rem;
    }
}